* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/*Vi arbetar med semantiska taggar dvs taggar som beskriver vilken del av sidan det är*/
/*I denna layouten jobbar vi bara med html standardelement = inbyggda element i html*/
/*Det är det rekommenderade sättet vid webbdesign*/
header {
  border: 1px solid lightgray;
  background-color: whitesmoke;
  height: 60px;
}
/*Detta styr bara img taggar i headern inte på resten av sidan */
header img {
  width: 200px;
  height: 50px;
  margin-left: 30px;
}

nav {
  width: 100%;
  height: 30px;
  background-color: grey;
  float: left;
  padding-left: 5px;
}

nav a {
  text-decoration: none;
  color: white;
  padding-right: 20px;
  font-size: 14 px;
}

/*Här skapas en grid med 4 kolumner som visas 
i mitten av sidan*/
main {
  padding: 10px;
  width: 100%;
  height: 640px;
  display: grid;
  grid-template-columns: 25% 25% 25% 22%;
  grid-gap: 10px;
  border: 1px solid grey;
}

/*Styling av alla bilder och knappar som ligger i en section*/
section img {
  border-radius: 25px;
  width: 100%;
}
section button {
  font-weight: bold;
  height: 30px;
  width: 70px;
  border-radius: 25px;
  background-color: #c72a00;
  color: white;
  border: none;
}
section p {
  font-size: 14px;
}

aside {
  padding: 5px;
  font-weight: bold;
  background-color: whitesmoke;
}
