
.headerStyle{
    width:350px;
    height: 400px;
    background-color: white;
    float:left;
    margin:5px;
}
.mainImage{
    width:50%;
    height: 400px;    
    float:left;
    margin:5px;
}
.mainImage img{
    width:600px;
    height: 400px;
}
