
body{background-color: lightgray;}

.blackbox{background-color: black;  height: 200px; width: 300px;}

.blackbox h3{color: white;}

.blackbox:hover{height: 400px; width: 600px;}

/*Detta är ett html standardelement*/
h3 {color: black;}
header{width:100%; height: 100px; background-color: red;}

.commontextstyle{font-weight: normal; font-size: 14px;}
.boldtextstyle{font-weight: bold; font-size: 14px;}